
@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Thin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedThin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Light.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-LightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Regular.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Extended.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Italic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Medium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedMedium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-MediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-SemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-SemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Bold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-BoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Heavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedHeavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-HeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedHeavyItalic.TTF') format('truetype');
}
