
@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Thin.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedThin.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Light.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-LightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Regular.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Extended.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Italic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Medium.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedMedium.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-MediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-SemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedSemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-SemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Bold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-BoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-Heavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedHeavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS11-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-HeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS11 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS11-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS11-ExtendedHeavyItalic.ttf') format('truetype');
}
